<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
</head>
<body ng-app="EmployeeApp" ng-controller="EmployeeController">
    <div class="col-sm-3"></div>
    <h3>Add Employee:</h3>
    <form class="form-horizontal" ng-submit="onCreate()" role="form">
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-info" ng-click="EmployeeList()">Back</button>
            </div>
        </div>
        <div class="form-group">
            <label for="UserName" class="col-sm-3 control-label">Employee Name</label>
            <div class="col-sm-6">
                <input type="text" id="UserName" class="form-control" ng-model="empInfo.Empname" />
            </div>
            <div class="col-sm-3"></div>

        </div>
        <div class="form-group">
            <label for="Designation" class="col-sm-3 control-label">Designation</label>
            <div class="col-sm-6">
                <input type="text" id="Designation" class="form-control" ng-model="empInfo.Designation" />
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="form-group">
            <label for="Location" class="col-sm-3 control-label">Location</label>
            <div class="col-sm-6">
                <input type="text" id="Location" class="form-control" ng-model="empInfo.Location" />
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="form-group">
            <label for="Salary" class="col-sm-3 control-label">Salary</label>
            <div class="col-sm-1">
                Basic<input type="text" id="Basic" class="form-control" ng-model="empInfo.Basic" ng-change="calSalary()" />
            </div>
            <div class="col-sm-1">
                HRA<input type="text" id="HRA" class="form-control" ng-model="empInfo.Hra" ng-change="calSalary()" />
            </div>
            <div class="col-sm-1">
                TA<input type="text" id="TA" class="form-control" ng-model="empInfo.Ta" ng-change="calSalary()" />
            </div>
            <div class="col-sm-1">
                SA<input type="text" id="SA" class="form-control" ng-model="empInfo.Sa" ng-change="calSalary()" />
            </div>
            <div class="col-sm-2">
                Total<input type="text" id="Total" class="form-control" ng-model="empInfo.Salary" ng-change="calSalary()" />
            </div>
        </div>
        <input type="submit" value="Save" class="btn btn-info col-sm-offset-3" />
        <input type="reset" value="Reset" ng-click="resetForm()" class="btn" /> <br />
    </form>
    <script src="Scripts/app.js"></script>
    <script src="Scripts/Controller/EmployeeController.js"></script>
</body>
</html>
