<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
</head>
<body ng-app="EmployeeApp" ng-controller="SignUpController">
    <div class="col-sm-3"></div>
    <h3>Sign Up</h3>
    <form class="form-horizontal" ng-submit="createSignUp()" role="form">
        <div class="form-group">
            <label for="FirstName" class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-6">
                <input type="text" id="FirstName" class="form-control" ng-model="signUp.firstName" />
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="form-group">
            <label for="LastName" class="col-sm-3 control-label">Last Name</label>
            <div class="col-sm-6">
                <input type="text" id="LastName" class="form-control" ng-model="signUp.lastName" />
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="form-group">
            <label for="Password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-6">
                <input type="text" id="Password" class="form-control" ng-model="signUp.password" />
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="form-group">
            <label for="EmailId" class="col-sm-3 control-label">EmailId</label>
            <div class="col-sm-6">
                <input type="text" id="EmailId" class="form-control" ng-model="signUp.emailId" />
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="form-group">
            <label for="PhoneNo" class="col-sm-3 control-label">Phone No</label>
            <div class="col-sm-6">
                <input type="text" id="PhoneNo" class="form-control" ng-model="signUp.phoneNo" />
            </div>
        </div>
        <div class="form-group">
            <label for="IsAdmin" class="col-sm-3 control-label">IsAdmin</label><br>
            <div class="col-sm-6">
                <input type="checkbox" id="IsAdmin" name="IsAdmin" ng-model="signUp.isAdmin">
            </div>
        </div>
        <input type="submit" value="Save" class="btn btn-info col-sm-offset-3" />
        <input type="reset" value="Reset" ng-click="resetForm()" class="btn" /> <br />
        <!--<input type="submit" value="Back" class="btn btn-info col-sm-offset-3" />-->
    </form>
    <script src="Scripts/app.js"></script>
    <script src="Scripts/Controller/SignUpController.js"></script>
</body>
</html>
